html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div {
  padding: 5px;
}
.container {
  display: flex;
  flex-direction: row;
  background-color: yellowgreen;
}
.box1 {
  flex: 0 1 100%;
  background-color: greenyellow;
}
.box2 {
  flex: 0 1 auto;
  background-color: yellow;
}